/* ===============================
   MODAL SCROLLBAR
================================ */
.modal {
    scrollbar-color: var(--bs-indigo) var(--bs-gray-300);
    scrollbar-width: thin;
}

.modal::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.modal::-webkit-scrollbar-track {
    background-color: var(--bs-gray-300);
    border-radius: 10px;
}

.modal::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg,
            var(--bs-indigo),
            var(--bs-blue));
    border-radius: 10px;
    border: 2px solid var(--bs-gray-300);
}

.modal::-webkit-scrollbar-thumb:hover {
    background: var(--bs-indigo);
}

/* ===============================
   GLOBAL PAGE SCROLLBAR
================================ */
html {
    overflow-y: scroll;
    overflow-x: hidden !important;
    scrollbar-color: var(--bs-indigo) var(--bs-gray-200);
    scrollbar-width: thin;
}

html::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

html::-webkit-scrollbar-track {
    background-color: var(--bs-gray-200);
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg,
            var(--bs-indigo),
            var(--bs-blue));
    border-radius: 10px;
    border: 2px solid var(--bs-gray-200);
}

html::-webkit-scrollbar-thumb:hover {
    background: var(--bs-indigo);
}